
.services {
  padding-top: 70px;

  
}
.title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.1em;
  

}

.subtitle {
  padding: 0;
  margin: auto;
  max-width: 400px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1em;

}

.container {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  padding-top: 50px;
  /* max-width: 1100px; */
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 240px));
  grid-column-gap: 20px;
  
}


/* @media screen and (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

} */