.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  z-index: 293;
  width: 400px;
  max-width: 100%;
  margin-top: 0px;
  padding-top: 100px;
  padding-right: 0px;
  align-items: stretch;
  background-color: #F9F1F0;
  min-height: 40vh;
  /* transform: translateX(-100%); */
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);

}

.linkcontainer {
  list-style: none;
}

.linkcontainer > li{
  max-width: 150px;
}
.link {
  display: flex;
  position: relative;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: #6f6f6f;
  margin-right: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
}
.link:hover {
  opacity: .9;
}

.link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    transition: width 0.9s; /* Время эффекта */
}

.link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #EDB39B; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.9s;  /* Время эффекта */
}
  
@media screen and (max-width: 525px) {
  .menu{
   width: 100%;
  }

}
