.menu{
  list-style: none;
  position: absolute;
  top: 0px;
  left: -100%;
  bottom: 0px;
  z-index: 293;
  display: block;
  width: 300px;
  max-width: 100%;
  margin-top: 0px;
  padding-top: 100px;
  padding-right: 0px;
  align-items: stretch;
  background-color: #F9F1F0;
  transform: translateX(-100%);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

}

/* @media screen and (max-width: 768px) {
  .menu {
    transform: translateX(0);
  }

} */
