.header {
  width: 100%;
  background-color: #fcddbc;
  display: flex;
  position: relative;
  
  
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 0 20px 0;

}

.navlist {
  display: flex;
  list-style: none;
  padding: 0;
  
}



.logo {
  width: 250px;
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-size: 16px;
  text-decoration: solid;
  letter-spacing: .1em;
}

.link {
  display: flex;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
  margin-right: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

link:hover {
  opacity: .7;
}

@media screen and (max-width: 800px) {
  .wrapper {
    justify-content: center;
  }

}

@media screen and (max-width: 800px) {
  .link {
    margin-right: 10px;
  }

}

@media screen and (max-width: 525px) {
  .wrapper {
    justify-content: flex-end;
  }

}


@media screen and (max-width: 800px) {
  .navlist{
    flex-direction: column;
  }

}

@media screen and (max-width: 800px) {
  .navlist{
    display: none;
  }

}
