.header {
  margin: 0 auto;
  width: 100%;
  background-color: #F9F1F0;
  display: flex;
  position: relative;
  
  
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center; 
  justify-content: space-between;

}

.navlist {
  display: flex;
  list-style: none;
  
}

@media screen and (max-width: 850px) {
  .navlist{
    flex-direction: column;
  }

}

@media screen and (max-width: 850px) {
  .navlist{
    display: none;
  }

}



.logo {
  width: 250px;
  height: 50px;
  background: #FFF;
}

.link {
  display: flex;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: #6f6f6f;
  margin-right: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

link:hover {
  opacity: .7;
}

@media screen and (max-width: 850px) {
  .wrapper {
    justify-content: center;
  }

}
