.intro {
  position: relative;
  width: 100%;
  height: calc(70vh - 60px);
  background-color:bisque;
  /* background-image: ; */
  z-index: 0;
}

.prev {
  position: absolute;
  top: 200px;
  left: 250px;
  max-width: 200px;
  

}
.title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.1em;

}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;

}

.img {
  width: 50%;
  display: block;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 820px) {
  .prev {
    top: 150px;
    left: 100px;
  }

}
@media screen and (max-width: 525px) {
  .prev {
    top: 100px;
    left: 50px;
  }

}