.navlist {
  display: flex;
  list-style: none;
}

.logo {
  width: 250px;
  height: 50px;
  background: #FFF;
}

.link {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #6f6f6f;
  margin-right: 50px;
  text-transform: uppercase;
  cursor: pointer;
}

