.intro {
  margin: 0 auto;
  position: relative;

  background: #33cccc;
}

.wrapper {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 80%;
  

}

.title {
  color: azure;
  max-width: 300px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.1em;

}



@media screen and (max-width: 768px) {
  .prev {
    padding-left: 20px;
    padding-right: 20px;
  }

}
