.intro {
  position: relative;
  /* padding-left: 150px; */
  padding-top: 40px;
  width: 100%;
  height: calc(40vh - 60px);
  background: #33cccc;
}

.prev {
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
  

}
.title {
  color: azure;
  max-width: 300px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.1em;

}


.img {
  height: 40px;
  width: 40px;
  display: block;
  height: 100%;
  object-fit: cover;
}

.contactItem {
  display: flex;
  align-items: center;
  max-width: 200px;
  width: 100%;
  margin-bottom: 30px;

}

.value {
  margin-left: 20px;
  color: azure;
  font-size: 16px;
  line-height: 20px;
}

.block {
  display: flex;
  justify-content: space-between;
  max-width: 100px;
}