.button {
  position: fixed;
  right: 5%;
  bottom: 40px;
  width: 40px;
  height: 40px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: inherit;
  padding: 0;
}

button:hover {
  color: var(--purple-primary)
}
